<ion-content>
<div class="componet-center">
  <ion-card>
    <div class="header-login">
    <ion-card-header>
      <img src="../../../assets/login/icon.png" alt="iconLogin">
      <ion-card-title color="success">ALL - Login</ion-card-title>
    </ion-card-header>
  </div>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div>
        <ion-button color="dark">Login</ion-button>
      </div>
      <div>
      <ion-button color="dark" fill="clear">Cadastar</ion-button>
    </div>

    </ion-card-content>
  </ion-card>
</div>
</ion-content>
