<ion-header>
  <ion-toolbar>
    <ion-title color="success">Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label position="floating" required>Nome completo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" required>E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" required>Telefone</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" required>Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" required>Confirme sua senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <div>
    <ion-button color="dark">Cadastar</ion-button>
  </div>
</ion-content>
