<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://static.institutomix.com.br/uploads/2019/08/original-6c8694b2b3dcea5b26e9528ce882b5da.jpg"/>
      </ion-avatar>
        <ion-label>
          <h2>Reparo tomada eletrica </h2>
          <p>Valor R$ 50,00 </p>
        </ion-label>
        <ion-button color="dark"><ion-icon name="cart-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://static.institutomix.com.br/uploads/2019/08/original-6c8694b2b3dcea5b26e9528ce882b5da.jpg"/>
      </ion-avatar>
        <ion-label>
          <h2>Troca fiação por cômodo</h2>
          <p>Valor R$ 250,00</p>
        </ion-label>
        <ion-button color="dark"><ion-icon name="cart-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://static.institutomix.com.br/uploads/2019/08/original-6c8694b2b3dcea5b26e9528ce882b5da.jpg"/>
      </ion-avatar>
        <ion-label>
          <h2>Troca fiação por cômodo</h2>
          <p>Valor R$ 250,00</p>
        </ion-label>
        <ion-button color="dark">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
